{
    "servers": {
        "irc.example.net:6667": {
            "nick": "kobun",
            "user": "kobun",
            "realname": "kobun",
            "channels": [
                "#channel",
                "#channel2"
            ],
            "admins": [
                "nick!user@host"
            ]
        }
    },

    "services": [
        "8ball",
        "autojoin",
        "baidu",
        "benis",
        "blasphemy",
        "brain",
        "butt",
        "cannedreplies",
        "colonjavacolon",
        "decide",
        "derpjs",
        "gay",
        "google",
        "googleimages",
        "kedo",
        "lereddit",
        "logger",
        "loud",
        "mueval",
        "quotes",
        "regex",
        "rottentomatoes",
        "sepples",
        "shithnsays",
        "shitvndevssay",
        "sux",
        "title",
        "translate",
        "tts",
        "urafaget",
        "whatthecommit",
        "wolframalpha",
        "zor",
    ],

    "rottentomatoes.apikey": "API KEY GOES HERE",
    "wolframalpha.appid": "APPID GOES HERE",
    "logger.file": "kobun.log"
}
